<a href="https://colab.research.google.com/github/Aaron-David-HdM/Applied-Data-Analytics/blob/main/UseCase_3/Datenimport_und_Bereinigung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Git-Repository klonen sowie pullen**

In [1]:
!git clone https://github.com/Aaron-David-HdM/Applied-Data-Analytics.git

Cloning into 'Applied-Data-Analytics'...
remote: Enumerating objects: 431, done.
remote: Counting objects: 100% (272/272), done.
remote: Compressing objects: 100% (258/258), done.
remote: Total 431 (delta 104), reused 0 (delta 0), pack-reused 159
Receiving objects: 100% (431/431), 2.92 MiB | 10.77 MiB/s, done.
Resolving deltas: 100% (161/161), done.

**Zu dem UseCase_3-Pfad wechseln**

In [2]:
%cd /content/Applied-Data-Analytics/UseCase_3

/content/Applied-Data-Analytics/UseCase_3

**Importieren von benötigten Bibliotheken sowie Lesen der CSV-Datei**

In [3]:
import pandas as pd
import numpy as np

filepath = 'Rohdaten_UseCase_3.csv' # Rohdaten für Usecase 3
df = pd.read_csv(filepath, decimal='.')

In [4]:
df

     Unnamed: 0  Gender    Total  Rating
0             0  Female   548.97     9.1
1             1  Female    80.22     9.6
2             2    Male   340.53     7.4
3             3    Male   489.05     8.4
4             4    Male   634.38     5.3
..          ...     ...      ...     ...
995         995    Male    42.37     6.2
996         996  Female  1022.49     4.4
997         997    Male    33.43     7.7
998         998    Male    69.11     4.1
999         999  Female   649.30     6.6

[1000 rows x 4 columns]

**Daten für das monatliche Einkommen erzeugt und Datentyp von Float zu Integer abgeändert**

In [5]:
df['MonthlyIncome'] = df['Total'] * 10 
df = df.round({'MonthlyIncome': 0})

df[['MonthlyIncome']] = df[['MonthlyIncome']].apply(np.int64)

**Gender-Spalte zu Zahlenwerten abgeändert und nicht benötigte Spalten entfernt**

In [6]:
df['Male'] = pd.get_dummies(df['Gender'], drop_first = True)

df.drop(columns= ['Unnamed: 0', 'Gender', 'Total', 'Rating'], inplace = True)

**Zufällige Alterswerte unserer Zielgruppe erzeugt und Seed für Reproduzierbarkeit gesetzt**

In [7]:
np.random.seed(1834)
df['Age'] = np.random.randint(18,35, size=len(df))

**Purchased-Werte mit einer 70/30 Verteilung erzeugt**

In [8]:
# np.random.randint(0,2, size=len(df)) Verworfen, da die Daten zu ähnlich waren. 
# Wir haben uns für eine feste Verteilung der Werte entschieden.

df['Purchased'] = np.random.choice(np.arange(0, 2), p=[0.7, 0.3], size=len(df))

**Datensatz durchgemischt, um die Purchased- und Alterswerte besser zu verteilen**

In [9]:
df = df.sample(frac=1, random_state=1834).reset_index(drop=True)

**Datensatz in Abhängigkeit vom Purchased-Feature untersucht**

In [10]:
df.groupby(by=['Purchased']).describe().T

Purchased                       0             1
MonthlyIncome count    711.000000    289.000000
              mean    3204.908579   3290.570934
              std     2498.720976   2361.005986
              min      107.000000    192.000000
              25%     1175.000000   1460.000000
              50%     2415.000000   2726.000000
              75%     4733.500000   4627.000000
              max    10426.000000  10225.000000
Male          count    711.000000    289.000000
              mean       0.520394      0.446367
              std        0.499936      0.497977
              min        0.000000      0.000000
              25%        0.000000      0.000000
              50%        1.000000      0.000000
              75%        1.000000      1.000000
              max        1.000000      1.000000
Age           count    711.000000    289.000000
              mean      25.781997     25.861592
              std        5.004394      4.947103
              min       18.000000     18.000000
              25%       21.000000     22.000000
              50%       26.000000     26.000000
              75%       30.000000     30.000000
              max       34.000000     34.000000

**Dataframe als CSV-Datei abspeichern**

In [11]:
df.to_csv('Einkommen_und_Verkaeufe.csv', sep=',')