<a href="https://colab.research.google.com/github/Aaron-David-HdM/Applied-Data-Analytics/blob/main/UseCase_1/Datenanpassung%20f%C3%BCr%20Werbung_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ls

sample_data/

In [ ]:
#!git clone https://github.com/Aaron-David-HdM/Applied-Data-Analytics.git

Cloning into 'Applied-Data-Analytics'...
remote: Enumerating objects: 132, done.
remote: Counting objects: 100% (132/132), done.
remote: Compressing objects: 100% (106/106), done.
remote: Total 132 (delta 44), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (132/132), 32.21 KiB | 4.60 MiB/s, done.
Resolving deltas: 100% (44/44), done.

In [ ]:
%cd /content/Applied-Data-Analytics/UseCase_1

/content/Applied-Data-Analytics/UseCase_1

In [ ]:
import pandas as pd
import numpy as np

filepath_1 = 'Werbung_A.csv' # Zielgruppenübersicht der Werbungs-Gruppe A
df = pd.read_csv(filepath_1, decimal=',')

In [ ]:
df.head()

        Tag  Alle Nutzer  18-24  25-34  35-44  45-54  55-64  65+
0  01.08.21         1420    144    177     96     50     45   23
1  02.08.21         2505    253    454    211    142     74   50
2  03.08.21         2545    279    397    201    127     69   61
3  04.08.21         2518    306    407    225    120     77   37
4  05.08.21         2502    243    392    232    140     66   52

**Erhöhen der Besucherzahlen der Zielgruppe 18-24 Jahre**

In [ ]:
age_18_24 = {}

for key, value in df["18-24"].iteritems():
  value = int(round(value + (value * (np.random.randint(1, 4) / 10))))
  age_18_24[key] = value

df['18-24'] = df.index.to_series().map(age_18_24)

**Erhöhen der Besucherzahlen der Zielgruppe 25-34 Jahre**

In [ ]:
age_25_34 = {}

for key, value in df["25-34"].iteritems():
  value = int(round(value + (value * (np.random.randint(1, 4) / 10))))
  age_25_34[key] = value

df['25-34'] = df.index.to_series().map(age_25_34)

**Reduzieren der Besucherzahlen der Zielgruppe 35-44 Jahre**

In [ ]:
age_35_44 = {}

for key, value in df["35-44"].iteritems():
  value = int(round(value - (value * (np.random.randint(1, 3) / 10))))
  age_35_44[key] = value

df['35-44'] = df.index.to_series().map(age_35_44)

**Reduzieren der Besucherzahlen der Zielgruppe 45-54 Jahre**

In [ ]:
age_45_54 = {}

for key, value in df["45-54"].iteritems():
  value = int(round(value - (value * (np.random.randint(1, 3) / 10))))
  age_45_54[key] = value

df['45-54'] = df.index.to_series().map(age_45_54)

**Reduzieren der Besucherzahlen der Zielgruppe 55-64 Jahre**

In [ ]:
age_55_64 = {}

for key, value in df["55-64"].iteritems():
  value = int(round(value - (value * (np.random.randint(1, 3) / 10))))
  age_55_64[key] = value

df['55-64'] = df.index.to_series().map(age_55_64)

**Reduzieren der Besucherzahlen der Zielgruppe 65+ Jahre**

In [ ]:
age_65_plus = {}

for key, value in df["65+"].iteritems():
  value = int(round(value - (value * (np.random.randint(1, 3) / 10))))
  age_65_plus[key] = value

df['65+'] = df.index.to_series().map(age_65_plus)

**Nutzerzahlen je Tag addieren und Werte zum Datenframe hinzufügen**

In [ ]:
df.drop(columns=['Alle Nutzer'])
df['Alle Nutzer'] = df.iloc[:, 2:].sum(axis=1)

**Speichern des Datenframes als CSV-Datei**

In [ ]:
df.to_csv('Werbung_B.csv', sep=',')